language: cpp
dist: trusty

compiler:
    - clang
    - gcc

before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y libboost-all-dev cmake

script:
    - cmake -DCMAKE_BUILD_TYPE=Release . && make
    - test/tuna_server_test
    - ctest --timeout 60
